<div class="row about-card">
    <div class="text-center title-about pb-4">
        About me
    </div>
    <div class="col-md-6 text-center d-flex align-items-center">
        <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Hola, soy Kleyner Vásconez</h5>
              <p class="card-text" style="text-align: justify; color: whitesmoke;">
                  Soy ingeniero en sistemas en Ecuador. Mis inicios en la programación es dada 
                  desde el 2016 que empece a estudiar la carrera. Con una educación la cual se ha reforzado en multiples campos de la informática
                  en la actualidad desde la graduación me he estado encontrando en el desarrollo web con multiples herramientas, mientras me centro en la 
                  autoformación en la actualidad.
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <img class="img-about" src="assets/img/SVG/skills.svg" style="width: 100%; height: auto;" alt="">
    </div>
</div>