<div class="row about-card">
    <div class="text-center title-about">
        Skills
    </div>
    <div class="col-md-12 alert alert-dark mb-4" style="color: #150050;">
        Estos son las multiples herramientas que he visto sea en mis estudios o proyectos desarrollados
    </div>
    <h1 style="color: white;" class="mb-5">Lenguajes</h1>
    <div class="col-6 col-md-3 img-skills">
        <app-hover-images [img]="'assets/img/skills/python.svg'" [porc]="'90%'"></app-hover-images>
    </div>
    <div class="col-6 col-md-3 img-skills">
        <app-hover-images [img]="'assets/img/skills/js.svg'" [porc]="'85%'"></app-hover-images>
    </div>
    <div class="col-6 col-md-3 img-skills">
        <app-hover-images [img]="'assets/img/skills/java.svg'"  [porc]="'50%'"></app-hover-images>
    </div>
    <div class="col-6 col-md-3 img-skills">
        <app-hover-images [img]="'assets/img/skills/csharp.svg'" [porc]="'75%'"></app-hover-images>
    </div>
    <div class="col-md-3 col-6 offset-md-3 img-skills">
        <app-hover-images [img]="'assets/img/skills/css.svg'"  [porc]="'90%'"></app-hover-images>
    </div>
    <div class="col-md-3 col-6 img-skills">
        <app-hover-images [img]="'assets/img/skills/html.svg'"  [porc]="'90%'"></app-hover-images>
    </div>
    <h1 style="color: white;" class="my-5">Frameworks</h1>
    <div class="col-md-3 col-6 img-skills">
        <app-hover-images [img]="'assets/img/skills/django.svg'"  [porc]="'80%'"></app-hover-images>
    </div>
    <div class="col-md-3 col-6 img-skills">
        <app-hover-images [img]="'assets/img/skills/angular.svg'"  [porc]="'78%'"></app-hover-images>
    </div>
    <div class="col-md-3 col-6 img-skills">
        <app-hover-images [img]="'assets/img/skills/jquery-vertical.svg'"  [porc]="'79%'"></app-hover-images>
    </div>
    <div class="col-md-3 col-6 img-skills">
        <app-hover-images [img]="'assets/img/skills/laravel.svg'"  [porc]="'60%'"></app-hover-images>
    </div>
    <div class="col-md-4 offset-md-4 img-skills">
        <app-hover-images [img]="'assets/img/skills/ionic.svg'"  [porc]="'30%'"></app-hover-images>
    </div>
    <h1 style="color: white;" class="my-5">Data Base</h1>
    <div class="col-md-4 col-6 img-skills">
        <app-hover-images [img]="'assets/img/skills/sql-serve.svg'"  [porc]="'80%'"></app-hover-images>
    </div>
    <div class="col-md-4 col-6 img-skills">
        <app-hover-images [img]="'assets/img/skills/postgresql.svg'"  [porc]="'80%'"></app-hover-images>
    </div>
    <div class="col-md-4 img-skills">
        <app-hover-images [img]="'assets/img/skills/mongo-db.svg'"  [porc]="'50%'"></app-hover-images>
    </div>
</div>